# Lec 2

## Lists:

Lists are like arrays. <br>
List can store data elements of diffrent datatypes. <br>
In Python we can use Reverse Indexing as Well. i.e. -1 Index is the Last element of the List and so on.

In [1]:
list1 = [99,45,16,7,89,16]

print("The List is",list1)
print("Max is ",max(list1))
print("Min is ",min(list1))
print("Sum is ",sum(list1))

The List is [99, 45, 16, 7, 89, 16]
Max is  99
Min is  7
Sum is  272

In [2]:
print("Orignal List: ",list1)
list1.insert(3,99)
print("Inserting 99",list1)
list1.append(100)
print("Appending 100",list1)
list1.remove(99)
print("Removing 99",list1)
list1.pop(3)
print("Pop 3",list1)

Orignal List:  [99, 45, 16, 7, 89, 16]
Inserting 99 [99, 45, 16, 99, 7, 89, 16]
Appending 100 [99, 45, 16, 99, 7, 89, 16, 100]
Removing 99 [45, 16, 99, 7, 89, 16, 100]
Pop 3 [45, 16, 99, 89, 16, 100]

In [3]:
list2 = [99,88,7,33,1,22,33,88]
print("Merged List: ", list1 + list2)
list1.extend(list2)
print("Extending List1 with List2",list1)
list1.sort()
print("Sorting: ",list1)
list1.reverse()
print("Reversing List: ",list1)
print("Counting 88 in List1: ",list1.count(88))
print("Length List2: ",len(list2))
print("Deleting List2: ",list2)
del list2

Merged List:  [45, 16, 99, 89, 16, 100, 99, 88, 7, 33, 1, 22, 33, 88]
Extending List1 with List2 [45, 16, 99, 89, 16, 100, 99, 88, 7, 33, 1, 22, 33, 88]
Sorting:  [1, 7, 16, 16, 22, 33, 33, 45, 88, 88, 89, 99, 99, 100]
Reversing List:  [100, 99, 99, 89, 88, 88, 45, 33, 33, 22, 16, 16, 7, 1]
Counting 88 in List1:  2
Length List2:  8
Deleting List2:  [99, 88, 7, 33, 1, 22, 33, 88]

In [4]:
list3 = [-44,22,-3213,21,66,77,1,3,89]
print("Orignal List is: ",list3)
print("5th Element in the List: ",list3[4])
print("5th Element in the List: ",list3[-5])
print("All the Elements from 3rd Element: ",list3[2:])
print("All the Elements from 3rd Element: ",list3[-7:])
print("Three Elements from 5th Position: ",list3[4:7])
print("Three Elements from 5th Position: ",list3[-5:-2])

Orignal List is:  [-44, 22, -3213, 21, 66, 77, 1, 3, 89]
5th Element in the List:  66
5th Element in the List:  66
All the Elements from 3rd Element:  [-3213, 21, 66, 77, 1, 3, 89]
All the Elements from 3rd Element:  [-3213, 21, 66, 77, 1, 3, 89]
Three Elements from 5th Position:  [66, 77, 1]
Three Elements from 5th Position:  [66, 77, 1]

## Tuples:

Tuples have fixed values, so no changes can be done after declaration and initilizaton. <br>
Therefore, Tuples are Immutable. <br>
So functions like append won't work here.

In [6]:
tupple = (1,-55,66,54545,12,332,545,1201,0,4,-66)
print("Orignal Tupple: ",tupple)
print("3 Elements from 5th Position are: ",tupple[4:7])
print("3 Elements from last 5th Position are: ",tupple[-5:-2])
print("Max: ",max(tupple))
print("Min: ",min(tupple))
print("Sum: ",sum(tupple))
print("Length: ",len(tupple))
print("Sorted: ",sorted(tupple))

Orignal Tupple:  (1, -55, 66, 54545, 12, 332, 545, 1201, 0, 4, -66)
3 Elements from 5th Position are:  (12, 332, 545)
3 Elements from last 5th Position are:  (545, 1201, 0)
Max:  54545
Min:  -66
Sum:  56585
Length:  11
Sorted:  [-66, -55, 0, 1, 4, 12, 66, 332, 545, 1201, 54545]